<div class="box">
    <form (submit)="add()" #formInfo="ngForm">
        <fieldset>
            <legend>Add Product</legend>

            <label class="form-label mt-4">Name:</label>
            <input type="text" class="form-control" placeholder="Enter Product Name" (change)="changeOccurred()"
                name="name" [(ngModel)]="product.name" required pattern="^[A-Z].*$" #nameInfo="ngModel">
            <span *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing name </span>
            <span *ngIf="nameInfo.errors?.pattern && nameInfo.touched">Name must be capitalized </span>
            <br>
            <label class="form-label mt-4">Price:</label>
            <input type="number" step="0.01" min="0" max="10000" class="form-control" (change)="changeOccurred()"
                name="price" [(ngModel)]="product.price" required #priceInfo="ngModel" placeholder="Enter Price">
            <span *ngIf="priceInfo.errors?.required && priceInfo.touched">Missing price. <br></span>
            <span *ngIf="priceInfo.errors?.min && priceInfo.touched">Price must be positive. <br></span>
            <span *ngIf="priceInfo.errors?.max && priceInfo.touched">Price must be less than 10000.<br> </span>

            <label class="form-label mt-4">Name:</label>
            <input type="text" class="form-control" placeholder="Enter Product Name" name="name">
            <br>

            <label class="form-label mt-4">Category: </label>
            <select class="form-select" (change)="changeOccurred()" name="category"
                [(ngModel)]="product.productCategoryId" required #categoryInfo="ngModel">
                <option selected disabled value="">Select Category</option>
                <option *ngFor="let c of categories" value="{{c._id}}">{{c.category}}</option>
            </select>
            <span *ngIf="categoryInfo.errors?.required && categoryInfo.touched">Missing category. <br></span>


            <label class="form-label mt-4">Choose an image</label>
            <input class="form-control" type="file" accept="image/*" name="image" [(ngModel)]="product.imageName"
                required #imageInfo="ngModel" (change)="setImage($event); changeOccurred()">
            <span *ngIf="imageInfo.invalid && imageInfo.touched">Missing image. <br></span>


            <button type="submit" class="btn btn-outline-primary" [disabled]="formInfo.form.invalid">Add</button>
        </fieldset>
    </form>
</div>