<h1>Welcome Home</h1>

<h4>this is the main screen </h4>

<p>BlaBla.com (Innovative Retail Concepts Private Limited) is India’s biggest grocery store online sustenance. With more
    than 18,000 items and over 1000 brands on our list, you will discover all that you are searching for.</p>

<p> Appropriate from new Fruits and Vegetables, Rice and Lentils, Spices and Seasonings to Packaged items, Beverages,
    Personal consideration items, Meats – we have everything.</p>

<p>Browse a wide scope of choices in each class, solely handpicked to enable you to locate the best quality accessible
    at the least cost.
</p>
<p> Select an availability for conveyance and your request will be conveyed ideal to your doorstep, anyplace in US
    California, New Jersey, Dallas, Houston, Boston, Chicago, Washington, San Francisco, San Andreas, Denver, Austin,
    Portland, Phoenix, Miami, San Jose, Atlanta, Indianapolis, Kansas City, Minnesota, Las Vegas, and New Orleans.
</p>
<p>
    You can pay utilizing your visa/Mastercard or with cash or any meal card or zeta cards on your conveyance.
</p>
<p>
    We ensure that your time will be saved and you will receive the best quality!
</p>
<p>
    ‘Organization Name’ .com enables you to leave the drudgery of grocery shopping and welcome a simple loosened up
    method for perusing and looking for staple goods.
</p>
<p>
    Find new items and shop for all your sustenance and grocery needs from the solace of your home or office.
</p>
<p>
    No all the more stalling out in-car influxes, paying for leaving, remaining in long lines, and conveying substantial
    sacks – get all that you require, when you require, comfortable doorstep.
</p>
<p>
    Sustenance shopping on the web is presently simple as each item on your month-to-month shopping list, is currently
    accessible online at ‘Organization Name’ .com, India’s best online grocery store.</p>