html, body {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient( gray,white,gray); */
}

a {
    color: black;
}

.box {
    display: inline-block;
    text-align: center;
    /* border: 1px solid black; */
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

.active {
    /* color: darkblue; */
    font-weight: bold;
    font-family: Arial;
}